<html>
<head>
<title>Facebook Login using Node and Express</title>
</head>
<body>
	<p>Facebook Notifications: 
		<% if(!isFacebookAuthenticated) {%>
			<a href="/auth/facebook"><input type="submit" value="Facebook Login" width="151" height="24"></a>
		<% } else {%>
			All Set.
		<% } %>
	</p>
</body>
</html>
